
html, body {
    margin: 0;
    padding: 0;
}

.e-mail{
	margin-top:15px;
	}
#wrapper {

height: 1135px;

width: 100%;

}

#header {

clear: none;

float: none;

height: 40px;

background-color:#5f5d5e;

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

color: #ffaf44;

padding-left: 175px;

padding-right: 175px;

text-align: right;

}


#banner_left {

float: left;

height: 265px;

width: 65%;

color: #ffffff;

text-align: center;

font-family: "HelveticaNeue LT 35 Thin";

font-size: 12px;

vertical-align: middle;

background-color:#ffaf44;

padding-top: 55px;

}
#banner_right {

float: left;

height: 320px;

width: 35%;

font-size: 7px;

background-color:#ffaf44;

}
input#requestbutton {
	font-family: "HelveticaNeue LT 35 Thin";
	border:1px solid #2d2d2d;
	background:#3289b6;
	padding:8px 25px;

	/*box-shadow: 0 0 4px rgba(0,0,0, .75);  */
	color:#ffffff;
	font-size:1.7em;
	cursor:pointer;
}
input#requestbutton:hover, input#requestbutton:focus {
	background-color :#4aa1ce;
	/*box-shadow: 0 0 1px rgba(0,0,0, .75);  */
}

 

#leftDiv {

clear: none;

float: left;

height: 160px;

width: 29%;

padding-left: 6.5%;

text-decoration: none;

background-color:#ffaf44;

font-family: "HelveticaNeue LT 35 Thin";

text-align: center;

}
#midDiv {

float: left;

height: 160px;

width: 29%;

text-decoration: none;

background-color:#ffaf44;

font-family: "HelveticaNeue LT 35 Thin";

text-align: center;

}
#rightDiv {

float: left;

height: 160px;

width: 29%;

padding-right: 6.5%;

text-decoration: none;

background-color:#ffaf44;

font-family: "HelveticaNeue LT 35 Thin";

text-align: center;

}

 

#footer {

height: 60px;

clear: both;

position: relative;

padding-top: 25px;

background-color:#eeeeee;

font-family: "HelveticaNeue LT 35 Thin";

text-align: center;

}


#leftThump {

clear: none;

float: left;

height: 255px;

width: 29%;

padding-left: 6.5%;

padding-top: 15px;

text-decoration: none;

background-color:#dfdfdf;

font-family: "HelveticaNeue LT 35 Thin";

text-align: center;

}
#midThump {

float: left;

height: 255px;

width: 29%;

padding-top: 15px;

text-decoration: none;

background-color:#dfdfdf;

font-family: "HelveticaNeue LT 35 Thin";

text-align: center;

}
#rightThump {

float: left;

height: 255px;

width: 29%;

padding-right: 6.5%;

padding-top: 15px;

text-decoration: none;

background-color:#dfdfdf;

font-family: "HelveticaNeue LT 35 Thin";

text-align: center;

}



.bottom {

	font-family: "HelveticaNeue LT 35 Thin";
	font-size: 15px;
	color: #FFFFFF;
	position:relative;

}


    button {
        
        -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
        -webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
        box-shadow:inset 0px 0px 15px 3px #23395e;
        height:30px;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #4daff0));
        background:-moz-linear-gradient(top, #2e466e 5%, #4daff0 100%);
        background:-webkit-linear-gradient(top, #2e466e 5%, #4daff0 100%);
        background:-o-linear-gradient(top, #2e466e 5%, #4daff0 100%);
        background:-ms-linear-gradient(top, #2e466e 5%, #4daff0 100%);
        background:linear-gradient(to bottom, #2e466e 5%, #4daff0 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#4daff0',GradientType=0);
        
        background-color:#2e466e;
        
        -moz-border-radius:17px;
        -webkit-border-radius:17px;
        border-radius:17px;
        
        border:1px solid #1f2f47;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:normal;
        padding:4px 10px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #263666;
        
    }
    button:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4daff0), color-stop(1, #2e466e));
        background:-moz-linear-gradient(top, #4daff0 5%, #2e466e 100%);
        background:-webkit-linear-gradient(top, #4daff0 5%, #2e466e 100%);
        background:-o-linear-gradient(top, #4daff0 5%, #2e466e 100%);
        background:-ms-linear-gradient(top, #4daff0 5%, #2e466e 100%);
        background:linear-gradient(to bottom, #4daff0 5%, #2e466e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4daff0', endColorstr='#2e466e',GradientType=0);
        
        background-color:#4daff0;
    }
    button:active {
        position:relative;
        top:0.5px;
    }

    
    
    
    
    .modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-dialog {
  z-index: 1050;
  width: auto;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.fade.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.modal-body {
  position: relative;
  padding: 20px;
}

.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}